body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: white;
    background-image: linear-gradient(to right, #8F5399, #4D59A1);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
}

header h1{
    text-align: center;
    padding-left: 115px;
}

  
#header-content {
    display: flex;
}

#user-container {
    display: flex;
    align-items: center;
}

#user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#dashboardMessage {
    margin: 30px 165px ;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.dashboard-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-left: 60px;
}

.dashboard-row {
    display: flex;
    justify-content: space-evenly;
}

.dashboard-card {
    display: inline;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px 50px 30px 70px;
    margin: 20px 0 20px;
    text-align: center;
}

.dashboard-card-bottom {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0 30px;
    text-align: center;
    flex: 0 1 calc(90% - 20px); /* One card in a row, full width */
}

.dashboard-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #8F5399;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.dashboard-button:hover {
    background-color: #4D59A1;
}
