body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    color: white;
    background-image: linear-gradient(to right, #8F5399, #4D59A1);
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;

}

header h1{
    text-align: center;
    padding-left: 115px;
}

  
#header-content {
    display: flex;
}

#user-container {
    display: flex;
    align-items: center;
}

#user-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 10px;
}

#username {
    margin: 0;
    color: white;
  }

back-button {
    margin-bottom: 20px; /* Adjust as needed */
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {
    margin-top: 20px;
}

button {
    padding: 10px;
    background-color: #8F5399;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color:  #4D59A1;
}

p {
    margin-top: 10px;
    color: #333;
}

#auditTrail {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
}

.search {
    justify-content: center;
}

#searchItem {
    padding: 6px 10px;
    width: 645px;
    margin-top: 8px;
    background: #ddd;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
